.App {
  display: flex;
}
/* Hide button for change year in calendar*/
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
 display: none;
}
.nameCalendar {
  width: 400px;
}
