.App {
  display: flex;
  justify-content: center;
}
/* Hide button for change year in calendar*/
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
 display: none;
}
.nameCalendar {
  width: 500px;
  background-color: antiquewhite;
  text-align: -webkit-center;
}
.listHours{
  display: flex;
  flex-direction: column;

}

.react-calendar {
  margin-bottom: 30px;
  margin-top: 30px;
}
.disponibility {
  margin-left: 20px;
}
